html, body { height: 100%;}
body {padding-top: 50px;}

.quicktasks li a span {display:block;}
.kgrIn .btn-toolbar *{font-family: FontAwesome !important;}

.ui-dialog.ui-widget-content,.ui-dialog-content { padding: 0px !important;}
#hs-source {position: absolute;top:50%; left: 50%; display: none; z-index: 99;}

.errorHidden {display:none !important;}

.input-recept {max-height:200px; overflow-x: hidden; overflow-y: auto; }
.input-recept input {margin-bottom: 10px; }
.has-error .ui-corner-all {border-color:#A94442 !important;}
.uploadifive-button input{z-index: 1002 !important;}

.ui-dialog {width: 300px;}
#high-cont .items{max-height: 320px; overflow: auto;}

@media (min-width: 480px) {
	.ui-dialog {width: 400px;}
	#high-cont .items {max-height: 500px;}
}
@media (min-width: 768px) {
    .ui-dialog {width: 500px;}
    #high-cont .items {max-height: 600px;}
}
@media (min-width: 992px) {
     .ui-dialog {width: 750px;}
}


