html, body { height: 100%;}
#principal {min-height: 100%;}
.monserrat{font-family: 'Montserrat', sans-serif;}
.ubuntu{font-family: 'Ubuntu', sans-serif;}

h1,h2,h3,h4,h5,h6,#menu a{ font-weight: 700;}

#logo h1, #menu{font-size: 12px;}

#menu li {border-style: solid; border-color: #000; border-width: 0 1px 0 0; padding:0px;}
#menu li:last-child{border-width: 0;}
#menu li a {color:#000; display: block; padding:0 5px;}

.bg-trama { background: url('../img/sombra-pattern.png') repeat-x top;}
.bo-b {border-style: solid; border-color: #000; border-width: 0 0 1px;}

.product-list {}
.product-list .product-info, .product-list .product-image {position:relative;cursor: default;}
.product-list .product-text p,.product-list .product-text span { margin:0;}
.product-list .product-text { 
    position:absolute;
    width:100%;
    height:100%;
    border-width: 20px;
    border-style: solid;
    border-color: #93f800;
    top:0px;
    opacity: 0;
    background: url('../img/logo-mini.png') #fff no-repeat bottom right;
}
.product-list .product-text span {display:block;}
.product-list .product-text a:hover {color:#333;}

.product-text, .product-image {transition: all .3s linear;}
.product-list li:hover .product-text{ opacity:1; s}

.ultimo {padding-bottom:40px;}
#footer {margin-top:-40px;height:40px; z-index:101; position:relative;}


@media (max-width: 400px) {
	.break-word { display:block;}
}